* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  padding: 10px;
}

input[type="submit"],
button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 6px 18px;
  border-radius: 20px;
}
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
label b {
  display: block;
}
input:not([type="submit"]) {
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
